@font-face {
    font-family: 'robotoregular';
    src: url('../fonts/roboto-regular-webfont.eot');
    src: url('../fonts/roboto-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto-regular-webfont.woff2') format('woff2'),
         url('../fonts/roboto-regular-webfont.woff') format('woff'),
         url('../fonts/roboto-regular-webfont.svg#robotoregular') format('svg');
}

@font-face {
	font-family: 'peachesandcreamregularw00Rg';
    src: url('../fonts/peaches_and_cream_regular_w00-webfont.eot');
    src: url('../fonts/peaches_and_cream_regular_w00-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/peaches_and_cream_regular_w00-webfont.woff2') format('woff2'),
         url('../fonts/peaches_and_cream_regular_w00-webfont.woff') format('woff'),
         url('../fonts/peaches_and_cream_regular_w00-webfont.svg#peachesandcreamregularw00Rg') format('svg');
}

main h2{
	font-family: 'peachesandcreamregularw00Rg';
	color: #313131;
	font-size: 70px;
	font-weight: lighter;
	margin-bottom: 0;
	margin-top: 30px;
	text-align: center;
}
main p{
	font-family: 'robotoregular';
	font-size: 20px;
	margin: 0;
}

.espacio{
	margin-top: -20px;
}

textarea {
  overflow: auto;
}

form {
  padding: 45px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.email {
    float: right;
    width: 45%;
}

input, textarea {
    background: none;
  	border: none;
    border-bottom: solid 2px #d1974d;
    color: #313131;
    font-size: 1.000em;
  	font-weight: 400;
    margin: 0em 0 1.875em 0;
    padding: 0 0 0.875em 0;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

input:focus, textarea:focus {
    outline: none;
}

.message {
    float: none;
}

.name {
    float: left;
    width: 45%;
}

textarea {
  height: 200px;
  resize: none;
  width: 100%;
}


#form_button {
  background: none;
  border: solid 2px #4a3d35;
  color: #313131;
  cursor: pointer;
  display: inline-block;
  font-family: 'robotoregular';
  font-size: 14px;
  font-weight: bold;
  outline: none;
  padding: 20px 35px;
  margin-bottom: 25px;
  margin-top: 25px;
  text-transform: uppercase;
  -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.submit {
  text-align: center;
}

#form_button:hover {
  background: #4a3d35;
  color: #ffffff;
}

