@font-face {
	font-family: 'peachesandcreamregularw00Rg';
    src: url('../fonts/peaches_and_cream_regular_w00-webfont.eot');
    src: url('../fonts/peaches_and_cream_regular_w00-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/peaches_and_cream_regular_w00-webfont.woff2') format('woff2'),
         url('../fonts/peaches_and_cream_regular_w00-webfont.woff') format('woff'),
         url('../fonts/peaches_and_cream_regular_w00-webfont.svg#peachesandcreamregularw00Rg') format('svg');
}

@font-face {
    font-family: 'robotoregular';
    src: url('../fonts/roboto-regular-webfont.eot');
    src: url('../fonts/roboto-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto-regular-webfont.woff2') format('woff2'),
         url('../fonts/roboto-regular-webfont.woff') format('woff'),
         url('../fonts/roboto-regular-webfont.svg#robotoregular') format('svg');
}



.locales{
    margin-bottom: 50px;
}

h2{
    font-family: 'peachesandcreamregularw00Rg';
    color: #313131;
    font-size: 70px;
    font-weight: lighter;
    margin-bottom: 0;
    margin-top: 30px;
    text-align: center;
}

.texto {
    font-size: 20px;
    margin-top: -20px;
    color: #313131;
    margin-bottom: -30px;
}

.map h3{
    font-family: 'robotoregular';
    color: #313131;
    font-size: 28px;
}

.map p{
    text-align: justify;
}

.datos{
    text-align: center;
    margin-top: 20px;
}

.datos img{
    vertical-align: middle;
    margin-right: 5px;
}

.datos span{
    font-size: 16px;
    font-family: 'robotoregular';
}

.info{
    display:inline-table;
    height:80px;
    margin-right: 10px;
    margin-bottom: 2px;
    width:240px;
}

iframe{
    width: 100%;
    margin-bottom: 40px;
}

.slide img{
    width: 100%;
}

.slider-img{
    position: relative;
}

.contenido{
    position: absolute;
    width: 55%;
    height: 20%;
    top: 40%;
    left: 22.5%;
}

.contenido h2{
    margin: 0;
    color: white;
    font-family: 'peachesandcreamregularw00Rg';
    font-size: 58px;
}

@media (max-width: 702px) {
    .contenido{
        position: absolute;
        width: 70%;
        height: 30%;
        top: 40%;
        left: 15%;
    }
}

@media (max-width: 554px) {
    .contenido{
        position: absolute;
        width: 80%;
        height: 30%;
        top: 40%;
        left: 10%;
    }
}

@media (max-width: 482px) {
    .contenido{
        position: absolute;
        width: 80%;
        height: 30%;
        top: 40%;
        left: 10%;
    }
    .contenido h2{
        font-size: 45px;
    }
}

@media (max-width: 376px) {
    .contenido{
        position: absolute;
        width: 95%;
        height: 40%;
        top: 30%;
        left: 2.5%;
    }
    .contenido h2{
        font-size: 38px;
    }
}



