@font-face {
	font-family: 'peachesandcreamregularw00Rg';
    src: url('../fonts/peaches_and_cream_regular_w00-webfont.eot');
    src: url('../fonts/peaches_and_cream_regular_w00-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/peaches_and_cream_regular_w00-webfont.woff2') format('woff2'),
         url('../fonts/peaches_and_cream_regular_w00-webfont.woff') format('woff'),
         url('../fonts/peaches_and_cream_regular_w00-webfont.svg#peachesandcreamregularw00Rg') format('svg');
}

@font-face {
    font-family: 'robotoregular';
    src: url('../fonts/roboto-regular-webfont.eot');
    src: url('../fonts/roboto-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto-regular-webfont.woff2') format('woff2'),
         url('../fonts/roboto-regular-webfont.woff') format('woff'),
         url('../fonts/roboto-regular-webfont.svg#robotoregular') format('svg');
}

body{
  position: relative;
}

header {
	background:#4a3d35;
	overflow:hidden;
	width:100%;
}

.contenedor {
	margin: 0 auto;
	max-width:2000px;
	overflow:hidden;
	width:90%;
}

h1, ul{
	margin: 0;
}

header .logo {
	color:#f2f2f2;
	float:left;
}

.logo{
	margin-top: 10px;
}

header nav {
	float:right;
	line-height:100px;
}

nav ul li{
	display: inline-block;
}

header nav a {
	color:#fff;
	display:inline-block;
	font-family: 'robotoregular';
	font-size:17px;
	line-height:normal;
	margin-left: 25px;
	text-decoration:none;
	text-transform: uppercase;
}

header nav a:hover{
	color: #d1974d;
	-webkit-transition: .5s linear;
	-moz-transition: .5s linear;
	-o-transition: .5s linear;
	-ms-transition: .5s linear;
	transition: .5s linear;
}

p{
	font-family: 'robotoregular';
	margin-bottom: 20px;
	margin: 0;
}

.slider img{
	width: 100%;
}

.somos h2, p{
	text-align: center;
	color: #313131;
}

.somos h2{
	font-family: 'peachesandcreamregularw00Rg';
	font-size: 70px;
	font-weight: lighter;
	margin-bottom: 0;
	margin-top: 50px;
}

.somos p{
	margin-top: -20px;
	margin-bottom: 30px;
	font-size: 21px;
}

.cols{
	text-align: center;
}


.col{
	display:inline-table;
	height:280px;
	margin-bottom:8px;
	margin-right: 10px;
	width:300px;
}

.col img{
	-webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}
.col a:hover img{
	-ms-transform: scale(1.02);
	-mz-transform: scale(1.02);
	-o-transform: scale(1.02);
	-webkit-transform: scale(1.02);
	transform: scale(1.02);
}

.col h3{
	color: #313131;
	font-family: 'robotoregular';
	font-size: 22px;
	margin-bottom: 10px;
	margin-top: 0;
}

.col p{
	margin-top: 10px;
}

.galeria{
	margin-bottom: 50px;
	overflow: hidden;
	text-align: center;
}

.galeria p{
	font-size: 21px;
	margin-top: -20px;
	margin-bottom: 30px;
}

.galeria h3{
	color: #313131;
	font-family: 'peachesandcreamregularw00Rg';
	font-size: 60px;
	font-weight: lighter;
	margin-bottom: 0;
	text-align: center;
	margin-top: 50px;
}

.block-article{
	box-sizing: border-box;
	display:inline-table;
	height:240px;
	margin-bottom:8px;
	width:252px;
}

footer{
	background: #4a3d35;
}

.nav-footer{
	padding-left: 0;
	margin-top: 15px;
	text-align: center;
	font-family: 'robotoregular';
}

.nav-footer li{
	display: inline-block;
	
}

.nav-footer a{
	text-decoration: none;
	color: white;
	text-transform: uppercase;
	font-size: 17px;
}

.nav-footer a:hover{
	color: #d1974d;
	-webkit-transition: .5s linear;
	-moz-transition: .5s linear;
	-o-transition: .5s linear;
	-ms-transition: .5s linear;
	transition: .5s linear;
}
.footer-espacio li{
	margin-left: 40px;
}

.footer-espacio-img li{
	margin-right: 3px;
	margin-left: 3px;
}

.footer-espacio-img a{
	opacity: 1;
}

.footer-espacio-img a:hover{
	opacity: 0.8;
}

.copy{
	font-family: 'robotoregular';
	margin-top: 15px;
	margin-bottom: 15px;
	font-size: 15px;
	color: #fff;
}

.copy img{
	vertical-align: middle;
	margin-right: 5px;
	margin-left: 5px;
}

.lightbox{
	bottom:4%;
	height: 610px;
	left: 50%;
	margin:-250px 0 0 -300px;
	position: absolute;
	width: 610px;
}

.hidden{
	display: none;
}

#close-button{
	left: 0;
	position: relative;
	top: -614px;
}

.lightbox a{
	color: black;
	text-decoration: none;
}

@media (max-width: 536px) {
	.footer-espacio li{
		display: block;
		margin-left: 0;
		margin-bottom: 5px;
	}
	.footer-espacio-img li{
		margin-right: 0;
	}
}

@media (max-width: 640px){
	.col h3{
		margin-top: 15px;
	}
}

.slider{
	width: 100%;
	margin: auto;
	overflow: hidden;
}

.slider ul{
	display: flex;
	padding: 0px;
	width: 300%;

	animation: cambio 10s infinite alternate;
}

.slider li{
	width: 100%;
	list-style: none;
}

.slider img{
	width: 100%;
}

@keyframes cambio {
	0% {margin-left: 0;}
	30%{margin-left: 0;}

	35%{margin-left: -100%;}
	65%{margin-left: -100%;}

	70%{margin-left: -200%;}
	100%{margin-left: -200%;}	
}	

@media (max-width: 414px){
	.somos h2{
		font-size: 59px;
	}
}

@media (max-width: 739px){
	.logo{
		position: absolute;
		left: 30%;
	}
	header nav {
	float:right;
	line-height:100px;
	margin-left: 20px;
}

	nav ul li{
		margin-top: 70px;
		display: inline-block;
	}
	nav ul{
		padding-left: 0;
		margin-left: 20px;
	}
	header nav a {
	font-size:15px;
	margin-left: 15px;
	}
}

@media (max-width: 400px){
	.logo{
		position: absolute;
		left: 20%;
	}

	nav ul li{
		margin-top: 70px;
		display: inline-block;
	}
	nav ul{
		padding-left: 0;
		margin-left: 0;
	}
		header nav {
	margin-left: 0px;

}
	header nav a {
	font-size:15px;
	margin-left: 8px;
	}
}
}
